<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        #hh {
            background-color: pink;
            width: 400px;
        }
        #bb{
            background-color: darkolivegreen;
        } 
        body{
            background-color: brown;
        }
    </style>
</head>

<body>
    <div class="container-fluid" id="bb"><h2 style="color: white;">COCHIN COLLEGE</h2>
        <h6><a href="{% url 'logout' %}" style="background-color: white; color: black; float: right; font-family: Georgia, 'Times New Roman', Times, serif;">Log in</a></h6>
        <br>
       </div>
    <div class="container">
        {% for message in messages %}
        <h5>
            <div class="alert alert-danger mt-5">{{message}}</div>
        </h5>
        {% endfor %}
    </div><br><br>
    <center>
        <div class="container-fluid " id="hh">
            <center>
                <div>
                    <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Teacher registration</h1>
                </div><br>
            </center>


            <form action="{% url 'add_teacher' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <table>
                    <tr>
                        <td><label for="">First name</label></td>
                        <td><input type="text" name="first_name" class="form-control" placeholder="First name"></td>
                    </tr>
                    <tr>
                        <td><label for="">Last name</label></td>
                        <td><input type="text" name="last_name" class="form-control" placeholder="Last name"></td>
                    </tr>
                    <tr>
                        <td><label for="">Age</label></td>
                        <td> <input type="number" name="age" class="form-control" placeholder="Age"></td>
                    </tr>
                    <tr>
                        <td><label for="">Address</label></td>
                        <td><input type="text" name="address" class="form-control" placeholder="Address"></td>
                    </tr> 
                    <tr>
                        <td><label for="">Contact</label></td>
                        <td><input type="text" name="number" class="form-control" placeholder="Contact number"></td>
                    </tr>
                    <tr>
                        <td><label for="">Username</label></td>
                        <td> <input type="text" name="username" class="form-control" placeholder="Username"></td>
                    </tr>
                     <tr>
                        <td><label for="">Email</label></td>
                        <td><input type="text" name="email" class="form-control" placeholder="Email address"></td>
                    </tr>
                     <tr>
                        <td><label for="">Password</label></td>
                        <td> <input type="password" name="password" class="form-control" placeholder="Password"></td>
                    </tr>
                    <tr>
                        <td><label for="">Confirm password</label></td>
                        <td> <input type="password" name="cpassword" class="form-control" placeholder="Confirm password"><br></td>
                    </tr>
                    <tr>
                        <td><label for="">Image</label></td>
                        <td><input type="file" name="file" class="form-control mt-3" accept="image/" required></td>
                    </tr>
                    <tr>
                        <td><label for="">Course</label></td>
                        <td><select name="sel" class="form-control" required>
                            {% for c in course %}
                            <option value="{{c.id}}">{{c.course_name}}</option>
                            {% endfor%}
                         </select></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button type="submit" class="btn btn-dark">Submit</button></td>
                    </tr>
                    <tr>
                        <th><label for="">Have an account?<a href="{% url 'log' %}">Login</a></label></th>
                    </tr>
                </table>

            </form>
        </div>
        </div>
        <br><br>
    </center>
</body>

</html>